welcome : <%=@user.username%><br>
your password is : <%=@user.password%><br>
your id is : <%= @user.id%><br>
logout url : <%= @logout2 %><br>

Here are your tickets:<br>
<a href=all_tickets>Here are all the tickets:</a> <br>

<a href=logout>logout</a>
