welcome : <%=@user.username%><br>
your password is : <%=@user.password%><br>
your id is : <%= @user.id%><br>

<br>
Here are your tickets:<br>
1)<br>
2)<br>
3)<br>
ect.........)<br>
<br>
<br>
<a href=all_tickets>Here are all the tickets:</a> <br>
<br>
<a href=logout>logout</a>
