<h1>login page</h1>
<form method="POST" action ="/loginauth">
    <label for= "username">Username: </label><br>
    <input type="text" id="username" name="username"><br>
    <label for ="password">Password: </label><br>
    <input type="text" id="password" name="password"><br>
    <input type="submit" value="Submit">
</form>