Hi <%=@user.username%>! Here are all the tickets the team is working on.<br>
<br>
<a href=create_tickets>create ticket</a><br>

<h3>
Here are your teams tickets:<br>
1)<br>
2)<br>
3)<br>
ect.........)</h3><br>

<a href=welcome>Here are all the tickets the user is working on</a><br>

<a href=logout>logout</a>